<main class="details">
            <!-- Details page -->
            <section id="details">
                <div id="details-wrapper">
                    <p id="details-title">Name: Show</p>
                    <div id="img-wrapper">
                        <img src="/images/animal1.jpg" />
                    </div>
                    <div id="info-wrapper">
                        <table>
                            <tr>
                                <td>
                                    <p>
                                        Years: <span id="details-years">{{years}}</span>
                                    </p>
                                </td>
                                <td>
                                    <p>Kind: <span id="details-kind">{{kind}}</span></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Need of: <span id="details-need">{{need}}</span></p>
                                </td>
                                <td>
                                    <p>Location: <span id="details-location">{{location}}</span></p>
                                </td>
                            </tr>
                        </table>
                        <p>Description: <span id="details-description">{{description}}</span></p>
                    </div>

                    <!--Edit and Delete are only for creator-->
                    <div id="action-buttons">
                        <a href="#" id="edit-btn">Edit</a>
                        <a href="#" id="delete-btn">Delete</a>
                        <a href="#" id="donation-btn">Donation</a>
                        <p id="already-donated">You already donated!</p>
                    </div>
                </div>
            </section>
        </main>